.full {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
}

.circle {
    width:100px;
    height:100px;
    padding: 0;
    margin: 0;
    
    border-radius: 50px;
    
    outline: none;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*---------------1---------------*/
#a {
    background-color: #FFC9FF;
    -webkit-transition: all 1000ms ease;
                -moz-transition: all 1000ms ease;
                -ms-transition: all 1000ms ease;
                -o-transition: all 1000ms ease;
                transition: all 1000ms ease;
}

/*---------------2---------------*/
#b {
    background-color: #589FBA;
    -webkit-transition: all 500ms ease;
                -moz-transition: all 500ms ease;
                -ms-transition: all 500ms ease;
                -o-transition: all 500ms ease;
                transition: all 500ms ease;
}

#b:active {
    background-color: #FF9228;
}

/*---------------3---------------*/
#c .circle {
    background-color: black;
    -webkit-transition: all 1000ms ease;
                -moz-transition: all 1000ms ease;
                -ms-transition: all 1000ms ease;
                -o-transition: all 1000ms ease;
                transition: all 1000ms ease;
}

/*---------------4---------------*/
#d .circle {
    
    width:150px;
    height:150px;
    border-radius: 0;

    background-color: black;
    
    -webkit-transition: all 1000ms ease;
                -moz-transition: all 1000ms ease;
                -ms-transition: all 1000ms ease;
                -o-transition: all 1000ms ease;
                transition: all 1000ms ease;
}

/*---------------5---------------*/
#e {
    background-color: #719140;
}

#e .circle {
    width:300px;
    height:100px;
    border-radius: 100px;
    max-width: 80%;

    background-color: #BDFF5B;
    
    -webkit-transition: all 1000ms ease-in;
                -moz-transition: all 1000ms ease;
                -ms-transition: all 1000ms ease;
                -o-transition: all 1000ms ease;
                transition: all 1000ms ease;
}

/*---------------6---------------*/
#f {
    background-color: #FFEFB3;
}



#f .full {
    background-color:#AEBAD6;
}

/*---------------7---------------*/
.third {
    height: 33.33%;
    width: 100%;
    position: absolute;
    
    width:100%;
}

#top {
    top: 0;
    left: 0;
    background-color: #FFE23C;
    
    width: 0%;
}

#mid {
    top: 33.33%;
    left: 0;
    background-color: #FF4500;
    
    width: 0%;
}

#bot {
    top: 66.66%;
    left: 0;
    background-color: #1E93E3;
    
    width: 0%;
}

#topl {
    top: 0;
    left: 0;
    background-color: #1E93E3;
    
    width:100%;
    z-index: -1;
}

#midl {
    top: 33.33%;
    left: 0;
    background-color: #FFE23C;
    
    width:100%;
    z-index: -1;
}

#botl {
    top: 66.66%;
    left: 0;
    background-color: #FF4500;
    
    width:100%;
    z-index: -1;
}

/*---------------8---------------*/
#h {
    
}

#h .circle {
    background-color: #FCF4FF;
    height: 350px;
    width: 350px;
    
    border-radius: 175px;

}

/*---------------9---------------*/
#i {
    background-color: black;
    background-size: 120%;
    background-position: center;
    
    
}

#i .num {
    
}

#halfWhite {
        width: 50%;
        background-color: white;
    }
    
/*---------------10---------------*/
#counter {
    font-family: 'Helvetica', sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*---------------11---------------*/
#k {
    background-color: #EDEDED;
    cursor: auto;
}

.centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blue {
    width: 40px;
    height: 80px;
    border-radius: 20px;
    background-color: #1E93E3;
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

#red {
    width: 40px;
    height: 80px;
    border-radius: 20px;
    background-color:  #FF4500;
    display: inline-block;
    margin-right: 80px;
    cursor: pointer;  

}
    
#k .num {
    -webkit-transition: all 1000ms ease;
                -moz-transition: all 1000ms ease;
                -ms-transition: all 1000ms ease;
                -o-transition: all 1000ms ease;
                transition: all 1000ms ease;   
}

#pod {
    background-image: url(../Images/Pod.gif);
    opacity: 0;
    background-size: cover;
}

/*---------------12---------------*/
#l {
    background-color: #FFD6AD;
    cursor: auto;
}

#l .circle {
    background-color: #FF9228;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    
    -webkit-transition: all 1000ms ease;
                -moz-transition: all 1500ms ease;
                -ms-transition: all 1500ms ease;
                -o-transition: all 1500ms ease;
                transition: all 1500ms ease;   
}

#l .circle:hover {
    cursor:pointer;
}

#l .circle:active {
    width: 700px;
    border-radius: 350px;
    height: 700px;
}

/*---------------13---------------*/
#m {
    background-color: #454B52;
}

#m .num {
    color: white;
}

#moon {
    background-color: #FFEFB3; 
}

#cut {
    background-color: #454B52;
    z-index: 1;
    top: 42%;
    left: 45%;
}

/*---------------14---------------*/
#n {
    background-color: #AEBAD6;
    overflow: inherit;
    
}

#n .num {
    z-index: 5;
}

#n .circle {
    z-index: 4;
    border-radius: 0;
    background-color: #7D8DB2;
;
}